header.site-header {
	background: $white;
	
	#top-bar-menu {
		padding: 43px 0 30px;
		li.logo {
			@include breakpoint(medium) {

			}
			@include breakpoint(tablet) {

			}
			a {
				padding: 0;
			}			
		}
			
		#main-nav {
			align-items: center;
			>li {
				margin: 0 0 0 2.5rem;
				
				> a {
					font-size: rem-calc(24);
					letter-spacing: -.01em;
					
					span {
						position: relative;
						&:before {
							content: '';
							width: 0%;
							position: absolute;
							top: 100%;
							height: 1px;
							background-color: transparent;
							transition: width .3s ease, background-color .3s ease;
						}
					}
					
				&:hover,
				&:focus,
				&[aria-current="page"] {
					span {
						&:before {
							width: 100%;
							background-color: $color-lite-green;
						}
					}
				}
				&[aria-current="page"] {
					span {
						font-weight: 700;
					}
				}
					
				}
				
			&.current-menu-item {
				a {
					
				}
			}
				
			&.is-active,
			&.current-menu-ancestor {
				span:before {
					background-color: $white;
				}
			}
				
			&.menu-item-has-children {
				
				ul.submenu {
					li {
						a {

							
						&:hover {

						}
							
						}
						
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $white;
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
				
			&.clicked {
				span {
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 12px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	
}