.bg-black {
	background-color: $black;
}
.bg-charcoal {
	background-color: $color-charcoal;
}
.bg-primary-green {
	background-color: $color-primary-green;
}
.bg-light-green {
	background-color: $color-lite-green;
}
.bg-purple {
	background-color: $color-purple;
}

.weight-bold {
	font-weight: 700;
}