h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
p,
ul,
ol,
.button {
	letter-spacing: -.01em;
}

h1,
.h1 {
	font-size: clamp(3.063rem, 2.436rem + 2.675vw, 4.375rem);
	line-height: 1;
}

.p,
p,
ul,
ol {
	font-size: clamp(1.063rem, 0.973rem + 0.382vw, 1.25rem);
}