// Fonts

// Colors
$color-primary-green: #5B7535;
$color-lite-green: #BDC8A2;
$color-light-green-2: #E0E5D5;
$color-light-green-3: #EEF2E7;
$color-charcoal: #2D2D2D;
$color-purple: #9A5CA0;
$color-gray: #707070;